<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/vnd.microsoft.icon" href="{{STATIC_URL}}img/favicon.ico" />
	<link rel="stylesheet" href="{{STATIC_URL}}css/styleslogin.css" />
	<script src="{{STATIC_URL}}js/jquery.js"></script>
	<script src="{{STATIC_URL}}js/prefixfree.min.js"></script>
	<script src="{{STATIC_URL}}js/functions.js"></script>
	<title>.::PRONOSTICOS::.</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/condiciones">Condiciones</a> | </li>
				<li><a href="/">Ingresar</a></li>
			</ul>
		</nav>
	</header>
	<section id="login">
		<form id='form' method='post' action=''>{% csrf_token %}
			<table>
				<tr>
					<th><h3>PRONOSTICOS</h3></th>
				</tr>
				<tr>
					<td><label for="usr">{{ form.username }}</label><label for="error">{{ form.username.errors }}</label></td>
				</tr>
				<tr>
					<td><label for="pwd1">{{ form.password1 }}<label for="error">{{ form.password1.errors }}</label></label></td>
				</tr>
				<tr>
					<td><label for="pwd2">{{ form.password2 }}</label><label for="error">{{ form.password2.errors }}</label></td>
				</tr>
				<tr>
				</tr>
					<td><input type="text" id="mail" name="mail" /></td>
				<tr>
					<td><input class="boton" type='submit' value='Registrarse' /></td>
				</tr>
			</table>
		</form>
	</section>
	<section>
		{% block contenido %}{% endblock %}
	</section>
	<footer>
		<section id="foot">
			© Copyright Derechos Reservados 2013 - Email: fhersa@gmail.com Powered by Diego
		</section>
	</footer>
</body>
</html>
